# Git
.git
.gitignore

# Maven
target/
!target/*.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Logs
logs/
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md
HELP.md
*.md 